@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@layer base {
  @theme {
    --color-offblack: #030c0a;
    --color-offwhite:#FFFFFA;
    --color-choco: #967259;
    --color-strawb:#D7C6CF;
    --color-blueb:#597d96;
    --color-mint: #AAFAC8;
    --color-robinegg: #C7FFED;
    --background-zoom: zoomBackground 1s ease-in-out forwards;

    --artist-grid-rows: 1fr 0fr ;
  }

  body {
    background-color: #D7C6CF;
  }
  @font-face {
    font-family: "Marker Felt";
    src: url("/fonts/Marker Felt.ttf") format("truetype");
  }

  @font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
  }

  * {
    box-sizing: border-box;
    font-family: "Marker Felt", sans-serif;
    letter-spacing: 0.25px;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }



  input,label,textarea{
        font-family: "Open Sans", sans-serif;
  }

  .artdescription {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-offwhite);
  }
  p,
  h1,
  h2,
  h3,
  h4:hover {
    cursor: default;
  }

  p {
    color: var(--color-offblack);
  }

  a {
    font-weight: bold;
  }
  a:hover {
    cursor: pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 5px;
  }

  input[type="submit"]:hover,
  input[type="checkbox"]:hover,
  button:hover {
    cursor: pointer;
  }

  @keyframes zoomBackground {
    from {
      background-size: 100%;
    }
    to {
      background-size: 120%;
    }
  }
}

@custom-variant mobilePortrait {
  @media only screen and ((
 ((max-height: 990px) and (max-width: 560px)) or
              ((max-height: 560px) and (max-width: 990px))
          )
          and (orientation: portrait)) {
    @slot;
  }
}

@custom-variant mobileLandscape {
  @media only screen and ((
 ((max-height: 990px) and (max-width: 560px)) or
              ((max-height: 560px) and (max-width: 990px))
          )
          and (orientation: landscape)) {
    @slot;
  }
}
