@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  @theme {
    --color-offblack: #030c0a;
    --background-zoom: zoomBackground 1s ease-in-out forwards;

  }


  @font-face {
    font-family: "Marker Felt";
    src: url("/fonts/Marker Felt.ttf") format("truetype");
  }

  * {
    box-sizing: border-box;
    font-family: "Marker Felt", sans-serif;
    letter-spacing: 0.25px;
  }
  /* h1,
  .link {
    font-family: "RigidSquare-Bold", sans-serif;
  }
  h2 {
    font-family: "RigidSquare-SemiBold", sans-serif;
  } */
  p,
  h1,
  h2,
  h3,
  h4:hover {
    cursor: default;
  }

  p {
    color: var(--color-offblack);
  }

  a {
    font-weight: bold;
  }
  a:hover {
    cursor: pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 5px;
  }

  input[type="submit"]:hover,
  input[type="checkbox"]:hover,
  button:hover {
    cursor: pointer;
  }


  @keyframes zoomBackground {
  from {
    background-size: 100%;

  }
  to {
    background-size: 120%;
  }

}

}

@custom-variant mobilePortrait {
  @media only screen and ((
 ((max-height: 990px) and (max-width: 560px)) or
              ((max-height: 560px) and (max-width: 990px))
          )
          and (orientation: portrait)) {
    @slot;
  }
}

@custom-variant mobileLandscape {
  @media only screen and ((
 ((max-height: 990px) and (max-width: 560px)) or
              ((max-height: 560px) and (max-width: 990px))
          )
          and (orientation: landscape)) {
    @slot;
  }
}
